button {
  background-color: green;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  box-shadow: 0 8px 6px rgba(0,0,0,0.4);
  
}

button:active {
  margin-top: 8px;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}