p {
  font-family: Arial;
  font-size: 26px;
}

input {
  background-color: rgb(223, 223, 223);
  display: block;
  border: none;
  width: 300px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  
}

.first-button {
  background-color: black;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  transition: opacity 0.15s;

}

.second-button {
  background-color: rgb(223, 223, 223);
  color: black;
  border: none;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  transition: background-color 0.15s , color 0.15s;


}

.first-button:hover {
  opacity: 0.7;
}
.second-button:hover {
  background-color: black;
  color: white;
}