.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(122, 23, 202);
  height: 60px;
  
}

p {
  font-family: Arial;
  margin: 0px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}


.search-bar{
  width: 500px;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  
}

button {
  background-color: rgb(122, 23, 202);
  border-color: white;
  border-width: 1px;
  color: white;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  cursor: pointer;
  margin-right: 10px;
  
}